.cabecalho {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    font-family: var(--fonte);
    font-size: 4rem;
    height: 20vh;
    justify-content: space-between;
    margin: 1rem;
}

.cabecalho__nav {
    align-items: center;
    background-color: var(--amarelo);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.cabecalho__menu {
    align-items: center;
    background-color: var(--amarelo);
    border: none;
    border-radius: 20px;
    color: var(--preto);
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    padding: .5rem 1.5rem;
    transition: 500ms;
}

.menu__imagem {
    width: 20px;
}

.menu__texto {
    margin: 0 0 0 10px;
}

.menu__links {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.menu__link {
    color: var(--preto);
    font-size: 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
}

.cabecalho__logo {
    align-items: center;
    display: flex;
    font-size: 5rem;
    font-family: var(--fonte-cursiva);
    justify-content: center;
    margin: 0 20% 0 0;
}

.logo__imagem {
    width: 12%;
}

.logo__texto {
    margin: 0 0 0 10px;
}

.cabecalho__carrinho {
    align-items: center;
    background-color: var(--amarelo);
    border: none;
    border-radius: 20px;
    color: var(--preto);
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    padding: .3rem 1rem;
    transition: 500ms;
}

.fundo__amarelo {
    background-color: var(--amarelo-2);
}

.cabecalho__carrinho:hover, .cabecalho__menu:hover {
    background-color: var(--amarelo-hover);
}

.cabecalho__carrinhos {
    background-color: var(--amarelo);
    border: 2px solid var(--azul-escuro);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position:fixed;
    right: 2rem;
    z-index: 3;
}
.carrinho__imagem {
    width: 40px;
}

.carrinho__produto {
    font-size: 1rem;
    padding: 0 1rem;
    text-align: center;
}

.carrinho__texto {
    font-size: 1rem;
    margin: 0 0 0 10px;
}

.carrinho__produtos {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.produtos__lista {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
}

.lista__imagem {
    width: 30px;
    padding-left: 1rem;
}

.produtos__botao {
    background-color: var(--cinza);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: .2rem .6rem;
    margin-right: 10px;
}
.produtos__botao:hover {
    background-color: var(--preto);
}

.esconde {
    display: none;
}

@media screen and (max-width: 700px) {
    .cabecalho {
        margin: 1%;
    }
    .cabecalho__nav {
        z-index: 2;
    }
    .cabecalho__menu {
        font-size: .5rem;
        padding: 1rem;
    }
    .menu__imagem {
        width: 15px;
    }
    .menu__texto {
        display: none;
    }
    .cabecalho__logo {
        font-size: 3rem;
        margin-right: 20%;
    }
    .cabecalho__carrinhos {
        right: 5px;
    }
    .cabecalho__carrinho {
        font-size: 1rem;
    }
    .carrinho__texto {
        display: none;
    }
}