:root {
    --fonte: 'Inconsolata', monospace;
    --fonte-cursiva: 'Josefin Sans', sans-serif;;
    
    /*      cores       */
    --azul-claro: rgb(198, 251, 255);
    --azul-escuro: rgb(103, 118, 255);
    --vermelho: rgb(228, 84, 144);
    --amarelo: rgb(106, 248, 165);
    --amarelo-hover: rgb(223, 196, 107);
    --amarelo-2: rgb(255, 244, 180);
    --laranja: rgb(255, 175, 71);
    --laranja-hover: rgb(248, 148, 17);
    --preto: #000;
    --cinza: rgb(49, 49, 49);
}

.corpo {
    background-color: var(--azul-escuro);
}